@model IEnumerable<NhutLongCompany.Models.BaoGiaTemDetailView>

@{
    ViewBag.Title = "IndexProcessProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> </h2>


<script>
    
    function Reload(el, id, date,update) {
        $(el).attr('disabled', '')
        $(el).val("Loading .....")
        if (date == null) {
            var layout = $('#' + id);
            $.ajax({
                url: '@Url.Action("IndexSanXuatByDate", "SanXuat")',
                data: { 'update': 0 },
                cache: false,
                type: "POST",
                dataType: "html",
                success: function (data, textStatus, XMLHttpRequest) {
                    layout.html(data);           
                    $(el).removeAttr("disabled");
                    $(el).val("Reload");
                }
            });
        }
        else {
            var layout = $('#' + id);
            $.ajax({
                url: '@Url.Action("IndexSanXuatByDate", "SanXuat")',
                cache: false,
                data: { 'date': date, 'update':0 },
                type: "POST",
                dataType: "html",
                success: function (data, textStatus, XMLHttpRequest) {
                    layout.html(data);                  
                    $(el).removeAttr("disabled");
                    $(el).val("Reload");
                }
            });
        }

    }
</script>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <span style="margin-left: 10px; line-height: 33px">Sản phẩm sản xuất (hiện tại)</span>
                    <input type="button" onclick="Reload(this, 'today',null); return false;" style="float: right; margin-right: 10px" value="Reload" class="btn btn-primary reload reloadall" />
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" id="today">
                @{Html.RenderAction("IndexSanXuatByDate", "SanXuat", new { update = 0 });}

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <span style="margin-left: 10px; line-height: 33px">Sản phẩm sản xuất (ngày mai)</span>
                    <input type="button" onclick="Reload(this,'tomorrow','@(DateTime.Parse( DateTime.Now.AddDays(1).ToShortDateString()))'); return false;" style="float: right; margin-right: 10px" value="Reload" class="btn btn-primary reloadall" />
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" id="tomorrow">

                @{Html.RenderAction("IndexSanXuatByDate", "SanXuat", new { date = DateTime.Parse(DateTime.Now.AddDays(1).ToShortDateString()), update = 0});}

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<style>
    .table td {
        text-align: center;
    }

    .table th {
        text-align: center;
    }

    body.dragging, body.dragging * {
        cursor: move !important;
    }

    .dragged {
        position: absolute;
        opacity: 0.5;
        z-index: 2000;
    }

    li.placeholder {
        position: relative;
        /** More li styles **/
    }

        li.placeholder:before {
            position: absolute;
            /** Define arrowhead **/
        }
</style>

<script>
    var timeOut;
    function ReloadAll() {
        $('.reloadall').click();
        clearTimeout(timeOut);
        timeOut = setTimeout(function () {
            ReloadAll();
        }, 60000);
    }
    timeOut = setTimeout(function () {
        ReloadAll();
    },60000);
    

</script>