<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header" style="color: blue">Cảm ơn quý khách đã đặt hàng.Công ty Nhựt Long sẽ liên hệ với quý khách trong vòng 24H.Trân trọng</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
